   <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>Nom Produit</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_commande in ligne_commandes %}
            <tr>
                <td>{{ ligne_commande.id }}</td>
                <td>{{ ligne_commande.quantite }}</td>
                <td>{{ligne_commande.produit.NomProduit}}</td>
                <td>{{ligne_commande.produit.prixproduit}}</td>
                <td>
                    <a href="{{ path('ligne_commande_show', {'id': ligne_commande.id}) }}"><button type="button" class="btn btn-block btn-primary"><i class="fa fa-info"></i>Show</button></a>
                    <!--<a href="{{ path('ligne_commande_edit', {'id': ligne_commande.id}) }}"><button type="button" class="btn btn-block btn-info"><i class="fa fa-edit"></i>Edit</button></a>-->
                </td>
            </tr>
        {% endfor %}
       

        </tbody>
    </table>
    <div class="">{{ knp_pagination_render(ligne_commandes) }}</div>
 