{% extends 'test.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>{{ profil.username }}</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ profil.description }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ profil.rating }}</td>
            </tr>
          
            <tr>
                <th>Game</th>
                <td>{{ profil.game }}</td>
            </tr>
        </tbody>
    </table>

    <html>

    <div id="calendar"></div>
    {% block script %}

<script>
    $(document).ready(function() {


        $('#calendar').evoCalendar('addCalendarEvent', {
            id: 'kNybja6',
            name: 'Mom\'s Birthday',
            description: 'Lorem ipsum dolor sit..',
            date: '02/19/2022',
            type: 'birthday'
        });
        $('#calendar').evoCalendar('addCalendarEvent', {
            id: 'kNybja6',
            name: 'soumaya Birthday',
            description: 'Lorem ipsum dolor sit..',
            date: '02/20/2022',
            type: 'birthday'
        });



    } )
    function add() {
          var active_events = $('#calendar').evoCalendar('getActiveEvents');
      /*  if(active_events=='[object Object]')
         { window.alert("Impossible");}
         else window.alert("possible");
*/



    }




</script>

    {% endblock %}

<script>
    function add() {
        var active_date = $('#calendar').evoCalendar('getActiveDate');
        sessionStorage.setItem("myDate", active_date);
        sessionStorage.setItem("myCoach", profil.id);


</script>



    <div class="contact-form">
        <a  href="{{ path('rdv_new',{'id':profil.id}) }}" class="btn btn-3" onclick="add()" > Réserver maintenant! </a>

    </div>


    <script>

        var myDate = sessionStorage.getItem("myDate");
        var myCoach = sessionStorage.getItem("myCoach");

    </script>
<br>

    </body>
    </html>



    <a href="{{ path('profil_index') }}">back to list</a>

    <a href="{{ path('profil_edit', {'id': profil.id}) }}">edit</a>

    {{ include('profil/_delete_form.html.twig') }}
{% endblock %}
