{% extends 'test.html.twig' %}

{% block title %} produit {% endblock %}

{%  block part %}
{#    <div class="hero-slider owl-carousel">#}
{#        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-1.jpg') }}"></div>#}
{#        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-2.jpg') }}"></div>#}
{#        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-3.jpg') }}"></div>#}
{#    </div>#}
    <!-- Instagram Post Section Begin -->
    <section class="instagram-post-section spad">

        <section class="content">
            <div class="container-fluid">
                <h6 class="text-center display-4" style="color: #e66a02">Chercher un produit</h6>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="{{ path('searchprodfront')}}" method="GET">
                            <div class="input-group">
                                <input type="search" class="form-control form-control-lg" placeholder="Entrer le nom d'un produit" id="site-search" name="search">
                                <div class="input-group-append">
                                    <button  class="btn btn-lg btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <hr/>

        <div class="container" id="all">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <h5>Produits</h5>
                    </div>
                     {% for produit in produits %}
                        <div class="ip-item">
                            <div class="ip-pic">
                                <div class="details-gallery-section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="dg-slider owl-carousel">
                                                    {% for image in produit.images  %}
                                                        <img src="{{ asset('/uploads/' ~ image.UrlImage ) }}" width="900" height="250" >
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ip-text">
                                <div class="label"><span>{{ produit.prixProduit }} DT</span></div>

                                <ul>
                                    <h5><a href="{{ path('detailprod', {'id_produit': produit.Id_produit}) }}">{{ produit.nomProduit }}</a></h5>
                                    <li>by <span>Admin</span></li>
                                    <li><i class="fa fa-clock-o"></i> {{ produit.dateAjoutProduit ? produit.dateAjoutProduit|date('Y-m-d') : '' }}</li>
                                   <li style="color: #9d1e15">{% if produit.QteProduit != 0 %}quantité: {{ produit.QteProduit }} {% else %}hors stock{% endif%} </li>
                                </ul>
                                    <p>{{ produit.description }}</p>
                                  <div class="container">
                                        <div class="tags-cloud">
                                            <div class="section-title">

                                            </div>
                                            {% if user is not null %}
                                            <div class="tag-list">
                                                <a href="{{ path('add' ,{id :produit.id_produit})}}"><span>Ajouter au panier</span></a>

                                            </div>
                                            {% else %}
                                            <div class="tag-list">
                                              <a href="{{ path('app_login') }}" ><span> Ajouter au panier</span></a>
                                            </div>

                                            {% endif %}
                                        </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}




                        <div class="pagination-item">

                            <span>{{ knp_pagination_render(produits) }}</span>
                        </div>

                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="sidebar-option">
                        <div class="insta-media">
                            <div class="section-title">
                                <h5>Categories</h5>
                            </div>

                                <div class="insta-pic">
                                    {{ include('categorie/affichagecategorie.html.twig') }}

                                </div>
                        </div>
                        <div class="best-of-post">
                            <div class="section-title">
                                <h5>Meilleur 5 produits</h5>
                            </div>
                            {% for p in prods %}
                                <div class="bp-item">
                                    <div class="bp-loader">
                                        <div class="loader-circle-wrap">
                                            <div class="loader-circle">
                                                    <span class="circle-progress-1" data-cpid="id-1" data-cpvalue="{{ p.NbrVu*10 }}"
                                                          data-cpcolor="#c20000"></span>
                                                <div class="review-point">{{ p.NbrVu }}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="bp-text">
                                        <h6><a href="{{ path('detailprod', {'id_produit': p.Id_produit}) }}">{{ p.NomProduit }}</a></h6>
                                        <ul>

                                            <li><i class="fa fa-clock-o"></i> {{ p.dateAjoutProduit ? p.dateAjoutProduit|date('Y-m-d') : '' }}</li>


                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js') }}">
    </script>

{% endblock %}
