
{#{% extends 'test.html.twig' %}#}

{#{% block title %}Article index{% endblock %}#}

{#{% block body %}#}
{#    <section class="update-news-section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-8">#}
{#                    <div class="section-title">#}
{#                        <h5><span>News & update</span></h5>#}
{#                    </div>#}
{#                    <div class="tab-content">#}
{#                        {#}

{#                        <div class="tab-pane fade show active" id="tabs-1" role="tabpanel">#}
{#                            <div class="row">#}
{#                                {% for article in articles %}#}

{#                               then#}

{#                                <div class="col-lg-12">#}
{#                                    <div class="ub-text">#}
{#                                        <div class="ip-pic">#}
{#                                            <td><img style="width: 100% ; height: 100%" src="{{asset('img/article/') ~ article.image }}" class="img-responsive" alt="Image"></td>#}
{#                                        </div>#}


{#                                        <div class="section-title">#}
{#                                            <h4>  <td>{{ article.titre }}</td> </h4>#}

{#                                            <div class="label">#}
{#                                                <a href="{{ path('article_new') }}">savoir plus</a>#}

{#                                            </div>#}

{#                                            <ul>#}
{#                                                <li>  <td>{{ article.description }}</td></li>#}
{#                                                <td>{{ article.createAt ? article.createAt|date('Y-m-d H:i:s') : '' }}</td>#}
{#                                                <li><i class="fa fa-comment-o"></i>3</li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}

{#                                {% endfor %}#}





{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

{#        </div>#}
{#        </div>#}

{#        </div>#}

{#    </section>#}

{#{% endblock %}#}

{% extends 'back.html.twig' %}

{% block title %}Article index{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
{% endblock %}
{% block body %}
    <h1>Article </h1>
    <section class="content">
        <div class="container-fluid">
            <h2 class="text-center display-4">Chercher un article</h2>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="{{ path('searcharticle')}}" method="GET">
                        <div class="input-group">
                            <input type="search" class="form-control form-control-lg" placeholder="Entrer le titre de l'actualité" id="site-search" name="search">
                            <div class="input-group-append">
                                <button  class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Image</th>
                <th>CreateAt</th>
                <th>SUPPRIMER</th>
                <th>MODIFIER</th>
{#                <th>Commentaire</th>#}

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.image }}</td>
                <td>{{ article.createAt ? article.createAt|date('Y-m-d H:i:s') : '' }}</td>
{#                <td>{{ article.commentaire }}</td>#}

                <td> <a href="{{ path('article_delete',{'id':article.id}) }}"class="btn btn-block btn-warning btn-sm">Delete</a></td>
                <td> <a href="{{ path('article_edit',{'id':article.id}) }}"class="btn btn-block btn-warning btn-sm">MODIFIER</a></td>


            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination-item">
        {{ knp_pagination_render(articles) }}
    </div>
    {% block javas %}
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <script src="//code.jquery.com/jquery.js"></script>

    {% endblock %}
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}


{% endblock %}
