{% extends 'test.html.twig' %}
{% block navb %}
    <div class="megamenu-wrapper">
        <ul class="mw-nav">
            <li><a href="{{ asset('#') }}"><span>Playstation</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Windows</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Mobile</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Xbox</span></a></li>
        </ul>
        <div class="mw-post">
            {% for jeu in jeus %}
                <div class="mw-post-item">
                    <div class="mw-pic">
                        <img src="{{ asset('img/megamenu/mm-1.jpg') }}" alt="">
                    </div>
                    <div class="mw-text">
                        <h6><a href="{{ asset('#') }}">{{ jeu.nomjeu }}</a></h6>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{ jeu.dateev|date("m/d/Y") }}
                                : {{ jeu.heureev ? jeu.heureev|date('H:i')}}</li>
                            <li><i class="fa fa-comment-o"></i> {{ jeu.idjeu }}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <!--<div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-2.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">jeu 2</a>
                    </h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-3.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">jeus </a>
                    </h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-4.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">jeus </a></h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-5.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">jeus5</a>
                    </h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            -->
        </div>
    </div>
{% endblock %}