{% extends 'test.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div style="background: #0d0909;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	z-index: 99;
	color: white;
	border: 2px solid #c24400;

	">

        <a href="{{ path("gclaim") }}" style="color:#c24400; ">ACCUEIL</a>

    <div class="signup-text">

        <div class="container">

<form method="post" class="signup-form">
    <div class="signup-title">
        <h2>Se connecter</h2>
        <p>REMPLIR LE FORMULAIRE</p>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}



    <label for="inputUsername">Email</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="login*"autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control"  placeholder="mot de pass" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
<br>
    <br>
    <button class="btn btn-lg btn-primary" type="submit">
        Se Connecter
    </button>
    <p>Vous n'avez pas de compte? <a href="{{ path("addUtilisateur") }}">S'inscrire</a></p>
    <p>Mot de passe oublié <a href="{{ path("app_forgot_password_request") }}">Cliquez ici</a></p>
</form>

        </div>

    </div>
</div>
{% endblock %}
