{% extends 'test.html.twig' %}

{% block title %} produit {% endblock %}

{%  block body %}

    <div class="details-gallery-section">
        <h5><a href="{{ path('produit') }}">Retour</a></h5>
        <div class="container">

            <div class="row">

                <div class="col-lg-12">

                    <div class="dg-slider owl-carousel">
                        {% for image in produit.images  %}


                        <img src="{{ asset('/uploads/' ~ image.UrlImage ) }}" width="800" height="800" >


                        {% endfor %}
                    </div>

                </div>

            </div>

        </div>

    </div>

<section class="details-post-section spad">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0">
                <div class="details-text gallery-page">

                    <div class="dt-title-gallery details-hero-text">
                        <div class="label"><span>{{ produit.prixProduit }} DT</span></div>

                        <h3>{{ produit.nomProduit }}</h3>
                        <ul>
                            <li>by <span>Admin</span></li>
                            <li><i class="fa fa-clock-o"></i> {{ produit.dateAjoutProduit ? produit.dateAjoutProduit|date('Y-m-d') : '' }}</li>
                            <li style="color: #9d1e15">{% if produit.QteProduit != 0 %}quantité: {{ produit.QteProduit }} {% else %}hors stock{% endif%} </li>
                            <li>nombre de vues <span>{{ produit.NbrVu }}</span></li>
                        </ul>
                    </div>
                    <div class="dt-desc">
                        <p>{{ produit.description }}</p>

                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}