{% extends 'data.html.twig' %}
{% block body %}
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">LES TOURNOIS</h3>
                </div>
                <!-- ./card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>NOM_TOURNOI</td>
                            <td>NOM_JEU</td>
                            <td>DESCRIPTION</td>
                            <td>DATE_CREATION</td>
                            <td>DATE_EVENEMENT</td>
                            <td>HEURE_EVENEMENT</td>
                            <td>IMAGE</td>
                            <td>SUPPRIMER</td>
                            <td>MODIFIER</td>
                        </tr>
                        </thead>
                        <tbody>

                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{ tournoi.id }}</td>
                                <td>{{ tournoi.nomtournoi }}</td>
                                <td>{{ tournoi.jeu }}</td>
                                <td>{{ tournoi.description}}</td>
                                <td>{{ tournoi.datec|date("m/d/Y") }}</td>
                                <td>{{ tournoi.dateev|date("m/d/Y") }}</td>
                                <td>{{ tournoi.heureev ? tournoi.heureev|date('H:i')}}</td>
                                <td><img src ="{{ asset(tournoi.image )}}"
                                         alt="" height="80" width="80"></td>
                                <td>  <a href="{{ path('deleteTournoi',{'id':tournoi.id},{'attr':{'class':'btn btn-primary'}}) }}">Delete</a></td>
                                <td>    <a href="{{ path('updateTournoi',{'id':tournoi.id},{'attr':{'class':'btn btn-primary'}}) }}">Update</a>

                                </td>

                            </tr>

                        </tbody>
                        <a href="{{ path('addTournoi',{'attr':{'class':'btn btn-primary'}}) }}"> Add Tournoi</a>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <!-- /.row -->
{% endblock %}
