{% extends 'back.html.twig' %}

{% block title %}Commande{% endblock %}

{% block content %}
    <h1>Liste des commandes</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>IdUser</th>
                <th>Total</th>
                <th>DateAchat</th>
                <th>Livrer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                
                <td>{{ commande.idUser }}</td>
                <td>{{ commande.total }}</td>
                <td>{{ commande.dateAchat ? commande.dateAchat|date('Y-m-d') : '' }}</td>
                <td>{{ commande.livrer ? 'Yes' : 'No' }}</td>
                <td>
                    
                    <a href="{{ path('commande_show', {'id': commande.id}) }}"><button type="button" class="btn btn-block btn-primary"><i class="fa fa-info"></i>Details</button></a>
                    <a href="{{ path('commande_edit', {'id': commande.id}) }}"><button type="button" class="btn btn-info btn-block"><i class="fa fa-edit"></i>Update Status</button></a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_new') }}"><button type="button" class="btn btn-outline btn-primary">Create New</button></a>
{% endblock %}
