{% extends 'back.html.twig' %}
{% block body %}
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">LES UTILISATEURS DESACTIVES</h3>
                </div>
                <!-- ./card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>USER_NAME</td>
                            <td>PASSWORD</td>
                            <td>EMAIL</td>
                            <td>Full_NAME ou SPECIALITE</td>
                            <td>ACTIVER </td>


                        </tr>
                        </thead>
                        <tbody>
                        {% for s in l %}
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{ s.id }}</td>
                                <td>{{ s.username }}</td>
                                <td>{{ s.password }}</td>
                                <td>{{ s.email }}</td>
                                {% if s.roles==["ROLE_USER"]  %}
                                    <td>{{ s.fullname }}</td>
                                {% elseif s.roles==["ROLE_COACH"]  %}
                                    <td>{{ s.specialite }}</td>
                                {% endif  %}

                                <td> <a href="{{ path('activitesimpleutilisateur',{'id':s.id}) }}"class="btn btn-block btn-warning btn-sm">Activer</a></td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}