{% extends 'back.html.twig' %}
{% block body %}
    <!-- /.row -->

        <!-- Navbar Search -->





    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">LES SIMPLES UTILISATEURS</h3>
                </div>
                <div class="nav-search-block" >
                    <form class="form-inline" action="" method="GET">
                        <div class="btn btn-block btn-outline-warning btn-xs">
                            <input class="form-control form-control-navbar" type="search" name="searchname"  placeholder="recherche ">

                        </div>
                    </form>
                </div>

                <!-- ./card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>USER_NAME</td>
                            <td>PASSWORD</td>
                            <td>EMAIL</td>
                            <td>Full_NAME</td>
                            <td>SUPPRIMER</td>


                        </tr>
                        </thead>
                        <tbody>
                        {% for s in l %}
                        <tr data-widget="expandable-table" aria-expanded="false">
                            <td>{{ s.id }}</td>
                            <td>{{ s.username }}</td>
                            <td>{{ s.password }}</td>
                            <td>{{ s.email }}</td>
                            <td>{{ s.fullname }}</td>
                            <td> <a href="{{ path('deletesimpleutilisateur1',{'id':s.id}) }}"class="btn btn-block btn-warning btn-sm">Delete</a></td>


                            </td>


                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <td>  <a href="{{ path('tri') }}" class="btn btn-block btn-outline-warning btn-xs">trié les Utilisateurs</a></td>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}