{{ form_start(form) }}

{{ form_errors(form.date) }}
{{ form_label(form.date) }}
{{ form_widget(form.date) }}
<br>



<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
