
{% extends 'back.html.twig' %}
{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">S'INSCRIRE <small>Coach</small></h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                        <div class="card-body">
                            <div class="form-group">

                                {{ form_errors(form.username) }}
                                {{ form_label(form.username,"LOGIN") }}
                                {{ form_widget(form.username,{'attr':{'placeholder':'LOGIN*','class':'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                {{ form_errors(form.password) }}
                                {{ form_label(form.password,"MOT DE PASSE") }}
                                {{ form_widget(form.password,{'attr':{'placeholder':'LOGIN*','class':'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                {{ form_errors(form.verifpassword) }}
                                {{ form_label(form.verifpassword,"MOT DE PASSE 2") }}
                                {{ form_widget(form.verifpassword,{'attr':{'placeholder':'LOGIN*','class':'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                {{ form_errors(form.email) }}
                                {{ form_label(form.email,"ADRESSE EMAIL") }}
                                {{ form_widget(form.email,{'attr':{'placeholder':'LOGIN*','class':'form-control'}}) }}

                            </div>
                            <div class="form-group">

                                {{ form_errors(form.specialite) }}
                                {{ form_label(form.specialite,"SPECIALITE") }}
                                {{ form_widget(form.specialite,{'attr':{'placeholder':'LOGIN*','class':'form-control'}}) }}


                            </div>


                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">

                            {{ form_widget(form.confirmer,{'attr':{'class':'btn btn-primary'}}) }}
                        </div>
                        {{ form_end(form) }}
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->

            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}