{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<h1> Sign up Coach </h1>
<br>

<br>

{{ form_errors(form.username) }}
{{ form_label(form.username,"LOGIN") }}
{{ form_widget(form.username) }}
<br>
{{ form_errors(form.password) }}
{{ form_label(form.password,"MOT DE PASSE") }}
{{ form_widget(form.password)}}
<br>
{{ form_errors(form.verifpassword) }}
{{ form_label(form.verifpassword,"VERIFIER VOTRE MOT DE PASSE") }}
{{ form_widget(form.verifpassword)}}
<br>
{{ form_errors(form.specialite) }}
{{ form_label(form.specialite,"SPECIALITE") }}
{{ form_widget(form.specialite)}}

<br>
{{ form_errors(form.email) }}
{{ form_label(form.email,"ADRESSE EMAIL") }}
{{ form_widget(form.email)}}
{{ form_end(form) }}