{% extends 'back.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">LES COACHS</h3>
                </div>
                <!-- ./card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>USER_NAME</td>
                            <td>PASSWORD</td>
                            <td>VERIF_PASSWORD</td>
                            <td>EMAIL</td>
                            <td>SPECIALITE</td>
                            <td>SUPPRIMER</td>
                            <td>MODIFIER</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for s in l %}
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{ s.id }}</td>
                                <td>{{ s.username }}</td>
                                <td>{{ s.password }}</td>
                                <td>{{ s.verifpassword }}</td>
                                <td>{{ s.email }}</td>
                                <td>{{ s.specialite }}</td>
                                <td> <a href="{{ path('deletecoach',{'id':s.id}) }}">Delete</a></td>
                                <td>  <a href="{{ path('updatecoach',{'id':s.id}) }}">Update</a></td>



                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}