{% extends 'test.html.twig' %}
{% block navb %}
    <div class="megamenu-wrapper">
        <ul class="mw-nav">
            <li><a href="{{ asset('#') }}"><span>Playstation</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Windows</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Mobile</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Xbox</span></a></li>
        </ul>
        <div class="mw-post">
            {% for tournoi in tournois %}
                <div class="mw-post-item">
                    <div class="mw-pic">
                        <img src="{{ asset('img/megamenu/mm-1.jpg') }}" alt="">
                    </div>
                    <div class="mw-text">
                        <h6><a href="{{ path('traff') }}">{{ tournoi.nomtournoi }}</a></h6>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{ tournoi.dateev|date("m/d/Y") }}
                                : {{ tournoi.heureev ? tournoi.heureev|date('H:i')}}</li>
                            <li><i class="fa fa-comment-o"></i> {{ tournoi.jeu}}</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}