{% extends 'test.html.twig' %}
{% block navb %}
    <div class="megamenu-wrapper">
        <ul class="mw-nav">
            <li><a href="{{ asset('#') }}"><span>Playstation</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Windows</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Mobile</span></a></li>
            <li><a href="{{ asset('#') }}"><span>Xbox</span></a></li>
        </ul>
        <div class="mw-post">
            {% for tournoi in tournois %}
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-1.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ path('traff') }}">{{ tournoi.nomtournoi }}</a></h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> {{ tournoi.dateev|date("m/d/Y") }}
                            : {{ tournoi.heureev ? tournoi.heureev|date('H:i')}}</li>
                        <li><i class="fa fa-comment-o"></i> {{ tournoi.jeu }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <!--<div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-2.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">Tournoi 2</a>
                    </h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-3.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">Tournois </a>
                    </h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-4.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">Tournois </a></h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            <div class="mw-post-item">
                <div class="mw-pic">
                    <img src="{{ asset('img/megamenu/mm-5.jpg') }}" alt="">
                </div>
                <div class="mw-text">
                    <h6><a href="{{ asset('#') }}">Tournois5</a>
                    </h6>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 12</li>
                    </ul>
                </div>
            </div>
            -->
        </div>
    </div>
{% endblock %}
{% block body %}


    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-5.jpg') }}"></div>
        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-2.jpg') }}"></div>
        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-3.jpg') }}"></div>
        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-1.jpg') }}"></div>
        <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-4.jpg') }}"></div>
    </div>
    <section class="latest-preview-section">
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="section-title">
                <h5>LISTE TOURNOIS</h5>
            </div>
            {% for tournoi in tournois %}
            <div class="ip-item">
                <div class="ip-pic">
                    <img src="{{ asset('img/instagram/insta-1.jpg') }}" alt="">
                </div>
                <div class="ip-text">
                    <div class="label"><span>{{ tournoi.jeu }}</span></div>
                    <h5><a href="{{ path('traff') }}">{{ tournoi.nomtournoi }}</a></h5>
                    <ul>
                        <li>by <span>Admin</span></li>
                        <li><i class="fa fa-clock-o"></i>{{ tournoi.dateev|date("m/d/Y") }}
                            : {{ tournoi.heureev ? tournoi.heureev|date('H:i')}}</li>

                    </ul>
                    <p>{{ tournoi.description}}</p>
                </div>
            </div>
            {% endfor %}
           <!-- <div class="ip-item">
                <div class="ip-pic">
                    <img src="{{ asset('img/instagram/insta-2.jpg') }}" alt="">
                </div>
                <div class="ip-text">
                    <div class="label"><span>Windows</span></div>
                    <h5><a href="{{ asset('#') }}">Infinity Ward's focus isn't on battle royale, Call of...</a></h5>
                    <ul>
                        <li>by <span>Admin</span></li>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 20</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                </div>
            </div>
            <div class="ip-item">
                <div class="ip-pic">
                    <img src="{{ asset('img/instagram/insta-3.jpg') }}" alt="">
                </div>
                <div class="ip-text">
                    <div class="label"><span>Hardware</span></div>
                    <h5><a href="{{ asset('#') }}">Capcom asks select fans to test new Resident Evil game</a></h5>
                    <ul>
                        <li>by <span>Admin</span></li>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 20</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                </div>
            </div>
            <div class="ip-item">
                <div class="ip-pic">
                    <img src="{{ asset('img/instagram/insta-4.jpg') }}" alt="">
                </div>
                <div class="ip-text">
                    <div class="label"><span>Playstation</span></div>
                    <h5><a href="{{ asset('#') }}">Teamfight Tactics is in chaos after today's patch...</a></h5>
                    <ul>
                        <li>by <span>Admin</span></li>
                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                        <li><i class="fa fa-comment-o"></i> 20</li>
                    </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices...</p>
                </div>

            </div>-->
            <div class="pagination-item">
                <a href="{{ asset('#') }}"><span>1</span></a>
                <a href="{{ asset('#') }}"><span>2</span></a>
                <a href="{{ asset('#') }}"><span>3</span></a>
                <a href="{{ asset('#') }}"><span>Next</span></a>
            </div>
        </div>

    </div>
</div>
    </section>
{% endblock %}