
{% extends 'back.html.twig' %}
{% block body %}
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">LES EQUIPES</h3>
                </div>
                <!-- ./card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>NOM DE L'EQUIPE</td>
                            <td>DESCRIPTION</td>
                            <td>DATE DE LA CREATION </td>
                            <td>ETAT </td>
                            <td>CHEF EQUIPE </td>
                            <td>UTILISATEURS </td>


                            <td>SUPPRIMER</td>

                        </tr>
                        </thead>
                        <tbody>
                        {% for equipe in equipe %}
                            <tr>
                                <td>{{ equipe.nomEquipe }}</td>
                                <td>{{ equipe.description }}</td>
                                <td>{{ equipe.dateCreation|date }}</td>
                                <td>{{ equipe.etat }}</td>
                                <td>{{ equipe.chef }}</td>

                                <td>
                                    {% for e in equipe.getSimpleutilisateurs() %}
                                        {{ e.email }}
                                        <br>
                                    {% endfor %}
                                </td>

                                <td>
                                   <a href="{{ path('deleteequipe',{'id':equipe.id}) }}" class="btn btn-block btn-warning btn-sm">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <td>  <a href="{{ path('tridate') }}" class="btn btn-block btn-outline-warning btn-xs">Trié les équipes par date</a></td>
                    <div class="nav navbar navbar-expand navbar-white navbar-light border-bottom p-0">
                       {{ knp_pagination_render(equipe)}}
                    </div>

                </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
{% endblock %}