<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Amin Template">
    <meta name="keywords" content="Amin, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Amin | Template{% endblock %}</title>

    <!-- Google Font -->
    {% block css%}

        {# <link rel="preconnect" href="{{ asset('https://fonts.gstatic.com') }}" />

        <link rel="stylesheet" href="{{ asset('css/button.css') }}" />
        <!-- Css Styles -->

        <link rel="stylesheet" type="text/css" href="{{ asset('css/evo-calendar.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/evo-calendar.midnight-blue.css') }}"/> #}

        <link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap') }}"
              rel="stylesheet">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Cinzel:400,700,900&display=swap') }}" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/elegant-icons.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/barfiller.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/slicknav.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">



    {% endblock %}
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Menu Begin -->
<div class="humberger-menu-overlay"></div>
<div class="humberger-menu-wrapper">
    <div class="hw-logo">
        <a href="{{ asset('#') }}"><img src="{{ asset('img/f-logo.png') }}" alt=""></a>
    </div>
    <div class="hw-menu mobile-menu">
        <ul>
            <li><a href="{{ asset('./index.html') }}">Home</a></li>
            <li><a href="{{ asset('#') }}">Pages <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="{{ asset('#') }}">Equipes</a></li>
                    <li><a href="{{ asset('./categories-grid.html') }}">Categories grid</a></li>
                    <li><a href="{{ asset('./typography.html') }}">Typography</a></li>
                    <li><a href="{{ asset('./details-post-default.html') }}">Post default</a></li>
                    <li><a href="{{ asset('./details-post-gallery.html') }}">Post gallery</a></li>
                    <li><a href="{{ asset('./details-post-review.html') }}">Post review</a></li>
                    <li><a href="{{ asset('./contact.html') }}">Contact</a></li>
                </ul>
            </li>
            <li><a href="{{ asset('#') }}">Reviews <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="{{ asset('#') }}">Playstation</a></li>
                    <li><a href="{{ asset('#') }}">Windows</a></li>
                    <li><a href="{{ asset('#') }}">Mobile</a></li>
                    <li><a href="{{ asset('#') }}">Xbox</a></li>
                </ul>
            </li>
            <li><a href="{{ asset('#') }}">Windows <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="{{ asset('#') }}">Playstation</a></li>
                    <li><a href="{{ asset('#') }}">Windows</a></li>
                    <li><a href="{{ asset('#') }}">Mobile</a></li>
                    <li><a href="{{ asset('#') }}">Xbox</a></li>
                </ul>
            </li>
            <li><a href="{{ asset('#') }}">Videos <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown">
                    <li><a href="{{ asset('#') }}">Playstation</a></li>
                    <li><a href="{{ asset('#') }}">Windows</a></li>
                    <li><a href="{{ asset('#') }}">Mobile</a></li>
                    <li><a href="{{ asset('#') }}">Xbox</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="hw-copyright">
        Copyright © 2019 Colorlib Inc. All rights reserved
    </div>
    <div class="hw-social">
        <a href="{{ asset('#') }}"><i class="fa fa-facebook"></i></a>
        <a href="{{ asset('#') }}"><i class="fa fa-twitter"></i></a>
        <a href="{{ asset('#') }}"><i class="fa fa-youtube-play"></i></a>
        <a href="{{ asset('#') }}"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="hw-insta-media">
        <div class="section-title">
            <h5>Instagram</h5>
        </div>
        <div class="insta-pic">
            <img src="{{ asset('img/instagram/ip-1.jpg') }}" alt="">
            <img src="{{ asset('img/instagram/ip-2.jpg') }}" alt="">
            <img src="{{ asset('img/instagram/ip-3.jpg') }}" alt="">
            <img src="{{ asset('img/instagram/ip-4.jpg') }}" alt="">
        </div>
    </div>
</div>
<!-- Humberger Menu End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="ht-options">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="ht-widget">
                        <ul>
                            <li><i class="fa fa-clock-o"></i>   {{"now"|date('F j, Y')}} </li>


                            {% if user is not null %}

                                <a href="{{ path('app_logout') }}" ><li> <i class="fa fa-sign-out"> se deconnecter </i> </li></a>
                                <a href="{{ path('profile') }}"><li> <i class="fa fa-sun-o"> profile </i></li> </a>

                            {% else%}
                                <a href="{{ path('addUtilisateur') }}"><li> <i class="fa fa-sign-out"> Login / Sign up </i></li> </a>
                            {% endif %}

                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-4">
                    <div class="ht-social">
                        <a href="{{ asset('#') }}"><i class="fa fa-facebook"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-twitter"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-youtube-play"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-instagram"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-envelope-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="{{ asset('./index.html') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-options">
        <div class="container">
            <div class="humberger-menu humberger-open">
                <i class="fa fa-bars"></i>
            </div>
            <div class="nav-search search-switch">
                <i class="fa fa-search"></i>
            </div>
            <div class="nav-menu">
                <ul>
                    <li class="active"><a href="{{ path('tournoi')}}"><span>Accueil</span></a></li>
                    <li class="mega-menu"><a href="{{ path('listtTournoi') }}"><span>Tournois <i class="fa fa-angle-down"></i></span></a>
                        {% block navb %}
                            <div class="megamenu-wrapper" style="margin-top: 180px">
                                <ul class="mw-nav" >
                                    <li><a href="{{ asset('#') }}"><span>Playstation</span></a></li>
                                    <li><a href="{{ asset('#') }}"><span>Windows</span></a></li>
                                    <li><a href="{{ asset('#') }}"><span>Mobile</span></a></li>
                                    <li><a href="{{ asset('#') }}"><span>Xbox</span></a></li>
                                </ul>
                                <div class="mw-post">
                                    {% for tournoi in tournois %}
                                        <div class="mw-post-item">
                                            <div class="mw-pic">
                                                <img src="{{ asset('img/megamenu/mm-1.jpg') }}" alt="">
                                            </div>
                                            <div class="mw-text">
                                                <h6><a href="{{ path('traff',{'id':tournoi.id}) }}">{{ tournoi.nomtournoi }}</a></h6>
                                                <ul>
                                                    <li><i class="fa fa-clock-o"></i> {{ tournoi.dateev|date("m/d/Y") }}
                                                        : {{ tournoi.heureev ? tournoi.heureev|date('H:i')}}</li>
                                                    <li><i class="fa fa-comment-o"></i> {{ tournoi.jeu}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        {% endblock %}
                    </li>

                    <li><a href="{{ path('affichage') }}"><span>Actualités <i class="active"></i></span></a></li>
                    <li><a href="{{ path('profil_index')}}"><span>Entraineurs <i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown">
                        <li><a href="{{ path('afficheequipe') }}">Equipe</a></li>
                        </li>
                    </ul>
                    <li>
                        <a href="{{ path('produit') }}"><span>Produits <i class="fa fa-angle-down"></i></span></a>


                    <li><a href="{{ path('panier') }}"><span> Paniers<i class="active"></i></span></a></li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
{% block part %}
<!-- Header End -->
    <section class="breadcrumb-section set-bg spad" data-setbg="{{ asset('img/breadcrumb-bg.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">

                        <div class="bt-option">
                            <a href="#">Home</a>
                            <a href="#">Latest posts</a>
                            <span>Hardware</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- Latest Preview Section Begin -->
<section class="latest-preview-section">
    {% block tournois %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h5>Latest Preview</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Preview Section End -->

<!-- Hero Section Begin -->
    <section class="hero-section">
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="hs-text">
                        <div class="label"><span>ACCEUIL</span></div>
                        <h3>Gclaim Est st Bien évidemment les MOBA comme DOTA et STR sont les incontournables </h3>
                        <div class="ht-meta">
                            <img src="{{ asset('img/hero/meta-pic.jpg') }}" alt="">
                            <ul>
                                <li>by Admin</li>
                                <li>mars 9, 2022</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6 offset-lg-1 offset-xl-2">
                    <div class="trending-post">
                        <div class="section-title">
                            <h5>Treding posts</h5>
                        </div>
                        <div class="trending-slider owl-carousel">
                            <div class="single-trending-item">
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-1.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-2.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Valve updates Steam's new Interactive Reco- mmender, teases
                                                a...</a></h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-3.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-4.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-trending-item">
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-5.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-6.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Valve updates Steam's new Interactive Reco- mmender, teases
                                                a...</a></h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-7.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="trending-item">
                                    <div class="ti-pic">
                                        <img src="{{ asset('img/trending/trending-8.jpg') }}" alt="">
                                    </div>
                                    <div class="ti-text">
                                        <h6><a href="{{ asset('#') }}">Jalopy developer is making a game where you 'build stuff...</a>
                                        </h6>
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                            <li><i class="fa fa-comment-o"></i> 12</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-1.jpg') }}"></div>
            <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-2.jpg') }}"></div>
            <div class="hs-item set-bg" data-setbg="{{ asset('img/hero/hero-3.jpg') }}"></div>
        </div>
        </section>
{% endblock%}
    {% endblock %}

{% endblock %}
<!-- Instagram Post Section End -->


<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-about">
                    <div class="fa-logo">
                        <a href="{{ asset('#') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a>
                    </div>

                    <div class="fa-social">
                        <a href="{{ asset('#') }}"><i class="fa fa-facebook"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-twitter"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-youtube-play"></i></a>
                        <a href="{{ asset('#') }}"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="editor-choice">
                    <div class="section-title">
                        <h5>G-CLAIM</h5>
                    </div>
                    <p>G-Claim est Bien évidemment les MOBA comme DOTA et STR sont les incontournables du esport car ce sont les jeux qui rassemblent la plus grosse communauté de joueurs. Vous ne serez donc pas surpris de pourvoir parier sur des matches de League of Legends, Dota 2 et Starcraft. Ce trio est proposé par les meilleurs bookmakers du monde.
                        Counter Strike est aussi très souvent proposé aux parieurs lors des tournois de league mondiaux.update</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="editor-choice">
                    <div class="section-title">
                        <h5>A propos de nous :</h5>
                    </div>
                    <p>G-Claim est Bien évidemment les MOBA comme DOTA et STR sont les incontournables du esport car ce sont les jeux qui rassemblent la plus grosse communauté de joueurs. Vous ne serez donc pas surpris de pourvoir parier sur des matches de League of Legends, Dota 2 et Starcraft. Ce trio est proposé par les meilleurs bookmakers du monde.
                    </p>

                </div>
            </div>

        </div>
        <div class="copyright-area">
            <div class="row">

                <div class="col-lg-6">
                    <div class="ca-links">
                        <a href="{{ asset('#') }}">About</a>
                        <a href="{{ asset('#') }}">Subscribe</a>
                        <a href="{{ asset('#') }}">Contact</a>
                        <a href="{{ asset('#') }}">Support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--- Footer Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
{% block js %}

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('js/circle-progress.min.js') }}"></script>
    <script src="{{ asset('js/jquery.barfiller.js') }}"></script>
    <script src="{{ asset('js/jquery.slicknav.js') }}"></script>
    <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js') }}"></script>
    <script src="{{ asset('js/evo-calendar.js') }}"></script>

{% endblock %}


</body>

</html>